@model IEnumerable<Supermercado5719_Biblioteca.Caja>
<div class="row">
    <div class="col-10">
        <h1 class="display-4">Ventas</h1>
    </div>
</div>
<br />
<a role="button" asp-controller="Venta" asp-action="RealizarVenta" class="btn btn-outline-primary">Realizar venta</a>
<a asp-controller="Home" asp-action="Index" role="button" class="btn btn-outline-secondary">Carcelar</a>
<br />
<br />
<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>Numero de caja</th>
            <th>Ventas realizadas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var caja in Model)
        {
        <tr>
            <td>@caja.numCaja</td>
            <td>
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Numero de ticket</th>
                            <th>Articulos vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in caja.tickets)
                        {
                        <tr>
                            <td>@ticket.numTicket</td>
                            <td>
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>Codigo de barra</th>
                                            <th>Codigo Interno</th>
                                            <th>Descripcion Abreviada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ticket.items)
                                        {
                                        <tr>
                                            <td>@item.articulo.codigoBarra</td>
                                            <td>@item.articulo.codigoInterno</td>
                                            <td>@item.articulo.descripcionAbreviada</td>
                                        </tr>
                                        }
                                </table>
                            </td>
                        </tr>
                        }
                </table>
            </td>   
        </tr>
        }
    </tbody>
</table>