@model IEnumerable<Supermercado5719_Biblioteca.stockArticulos>
<div class="row">
    <div class="col-10">
        <h1 class="text-monospace">Articulos</h1>
    </div>
</div>

<table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>CodigoBarra</th>
            <th>CodigoInterno</th>
            <th>Descripcion</th>
            <th>DescripcionAbreviada</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stock in Model)
        {
            <tr>
                <td>@stock.articulo.codigoBarra </td>
                <td>@stock.articulo.codigoInterno </td>
                <td>@stock.articulo.descripcion</td>
                <td>@stock.articulo.descripcionAbreviada </td>
                <td>@stock.articulo.precio</td>
                <td>@stock.stock</td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="form-group col-6">
    <a role="button" asp-controller="Articulo" asp-action="AgregarArticulo" class="btn btn-outline-primary">Agregar</a>
    <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-outline-secondary">Carcelar</a>
</div>

