@model IEnumerable<Supermercado5719_Biblioteca.Articulo>
<div class="row">
    <div class="col-10">
        <h1 class="display-4">Articulos</h1>
    </div>
    <div class="col-2">
        <img src="https://thumbs.gfycat.com/DelayedWavyKatydid-size_restricted.gif" height="100" width="150" class="text-center">
    </div>
</div>
    <br />
    <a role="button" asp-controller="Articulo" asp-action="Agregar" class="btn btn-outline-primary">Agregar</a>
    <br />
    <br />
    <p>Cantidad de articulos: <b>@ViewBag.CantidadEmpleados</b></p>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>IdArticulo</th>
                <th>CodigoBarra</th>
                <th>CodigoInterno</th>
                <th>Descripcion</th>
                <th>DescripcionAbreviada</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articulo in Model)
            {
                <tr>
                    <td>@articulo.idArticulo </td>
                    <td>@articulo.codigoBarra </td>
                    <td>@articulo.codigoInterno </td>
                    <td>@articulo.descripcion</td>
                    <td>@articulo </td>
                    <td>@articulo.precio</td>
                    <td>
                        <a asp-controller="Articulo" asp-action="Editar" asp-route-id="@articulo.idArticulo" class="btn btn-link">Editar</a> |
                        <a asp-controller="Articulo" asp-action="Eliminar" asp-route-id="@articulo.idArticulo" class="btn btn-link">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
