@model IEnumerable<Supermercado5719_Biblioteca.stockArticulos>
<div class="row">
    <div class="col-10">
        <h1 class="display-4">Articulos</h1>
    </div>
</div>
    <br />
    <a role="button" asp-controller="Articulo" asp-action="AgregarArticulo" class="btn btn-outline-primary">Agregar</a>
    <br />
    <br />
    <p>Cantidad de articulos: <b>@ViewBag.CantidadEmpleados</b></p>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodigoBarra</th>
                <th>CodigoInterno</th>
                <th>Descripcion</th>
                <th>DescripcionAbreviada</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    <td>@stock.id</td>
                    <td>@stock.articulo.codigoBarra </td>
                    <td>@stock.articulo.codigoInterno </td>
                    <td>@stock.articulo.descripcion</td>
                    <td>@stock.articulo.descripcionAbreviada </td>
                    <td>@stock.articulo.precio</td>
                    <td>
                        <a asp-controller="Articulo" asp-action="Editar" asp-route-id="@stock.articulo.id" class="btn btn-link">Editar</a> |
                        <a asp-controller="Articulo" asp-action="Eliminar" asp-route-id="@stock.articulo.id" class="btn btn-link">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
